<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DropdownSuite">
  <listeners>
    <listener class-name="com.example.listeners.CustomListener"/>
  </listeners>
  <test name="DropdownTest">
    <classes>
      <class name="com.example.tests.DropdownTest"/>
    </classes>
  </test>
</suite>
